.container {
    /* background-color: pink; */
    height: 100%;
    /* width: 100%;
    height: 100vh; */
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* background-color: pink; */
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
}

.createProj {
    height: 3vw;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.createProjText {
    color: black;
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 3.0vw;
    letter-spacing: 0.03vw;
}

.createProjBtn {
    height: 2.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1vw;
    border: 1px solid white;
    border-radius: 1vw;
    background: var(--gradient-color);
}

.createProjBtnText {
    color: white;
    font-size: 0.9vw;
}

.createProjBtnPlusItem {
    width: 1.2vw;
    height: 1.2vw;
    margin-left: 0.6vw;
}


.filterAndSearch {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5vw;
    margin-top: 0.2vw;
    margin-bottom: 1vw;
}

.filter {
    background-color: green;
    width: 10%;
    height: 100%;
    background: white;
    border: 1px solid #2A46FF;
    border-radius: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

.filterItem {
    width: 1.2vw;
    height: 1.2vw;
}

.filterText {
    font-size: 1.0vw;
    font-weight: 700;
    letter-spacing: 0.03vw;
    color: #2A46FF;
}

.arrowDownItem {
    width: 1.2vw;
    height: 1.2vw;
}

.search {
    width: 87%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.searchItem {
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    left: 0.8vw;
    top: 50%;
    transform: translateY(-50%);
}

.searchInput {
    width: 100%;
    height: 100%;
    border: 1.5px solid #A0A3BD;
    border-radius: 1vw;
    font-size: 1vw;
    font-weight: 700;
    color: #4E4B66;
    padding-left: 3.5vw;
    letter-spacing: 0.03vw;
}

.searchInput:focus {
    outline: none;
}


.listProjects {
    margin-top: 0.4vw;
    /* display: flex; */

}

.cardCreate {}

.cardCreateItem {}

.cardCreateText {}



.test {
    background-color: red;
}